.left div{
    background-color: rgb(0, 34, 255);
    height: 8vw;
    width: 8vw;
    margin:0.5vw;
  }
  
  
  
  .mid div{
    background-color: red;
    height: 8vw;
    width: 8vw;
    margin:2vw;
  }
  
  
  
  .right div{
    background-color: rgb(93, 213, 49);
    height: 8vw;
    width: 8vw;
    margin:0.5vw;
  }
  
  
  .container{
    border: 1px solid;
    display: flex;
    justify-content: space-between;  
  }
  
  .left{
    display: flex;
    flex-direction: column;
    
  }
  
  
  .mid{
    display: flex;    
    align-content: space-between;
  }
  
  
  .right{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .mid_1, .mid_2, .mid_3, .mid_4{
    position: relative;
    top: 12vw;
  }
  